### 1.1

The parameter weekday is True if it is a weekday, and the parameter vacation is True if we are on vacation. We sleep in if it is not a weekday or we're on vacation. Return True if we sleep in.

sleep_in(False, False) → True
sleep_in(True, False) → False
sleep_in(False, True) → True

In [8]:
def sleep_in(weekday, vacation):
  return(not weekday or vacation)

In [4]:
sleep_in(False, False)

True

In [5]:
sleep_in(True, False)

False

In [6]:
sleep_in(False, True)

True

...

...

...

### 1.2

We have two monkeys, a and b, and the parameters a_smile and b_smile indicate if each is smiling. We are in trouble if they are both smiling or if neither of them is smiling. Return True if we are in trouble.


monkey_trouble(True, True) → True
monkey_trouble(False, False) → True
monkey_trouble(True, False) → False

In [16]:
def monkey_trouble(a_smile, b_smile):
  return(a_smile and b_smile) or (not a_smile and not b_smile)

In [17]:
monkey_trouble(True, True)

True

In [18]:
monkey_trouble(False, False)

True

In [19]:
monkey_trouble(True, False)

False

...

...

...

### 1.3

Given two int values, return their sum. Unless the two values are the same, then return double their sum.

In [31]:
def sum_double(a, b):
    if a == b:
        return 2*(a + b)
    else:
        return a + b

In [32]:
sum_double(1, 2)

3

In [33]:
sum_double(3, 2)

5

In [34]:
sum_double(2, 2)

8

...

...

...

### 1.4


Given an int n, return the absolute difference between n and 21, except return double the absolute difference if n is over 21.


diff21(19) → 2
diff21(10) → 11
diff21(21) → 0

In [27]:
def diff21(n):
    diff = abs(21 -n)
    
    if n > 21:
        return diff * 2
    else:
        return diff

In [28]:
diff21(19) #2

2

In [29]:
diff21(10) #11

11

In [30]:
diff21(21) #0

0

...

...

...

### 1.4

We have a loud talking parrot. The "hour" parameter is the current hour time in the range 0..23. We are in trouble if the parrot is talking and the hour is before 7 or after 20. Return True if we are in trouble.


parrot_trouble(True, 6) → True
parrot_trouble(True, 7) → False
parrot_trouble(False, 6) → False

In [34]:
def parrot_trouble(talking, hour):
    trouble = False
  
    if hour < 7 or hour > 20:
        trouble = True
    
    return trouble and talking

In [35]:
parrot_trouble(True, 6) # True

True

In [36]:
parrot_trouble(True, 7) # False

False

In [37]:
parrot_trouble(False, 6) # False

False

In [ ]:
...

...

...

In [ ]:
### 1.5 makes10

In [ ]:
Given 2 ints, a and b, return True if one if them is 10 or if their sum is 10.


makes10(9, 10) → True
makes10(9, 9) → False
makes10(1, 9) → True

In [38]:
def makes10(a, b):
  ten = False
  sum = a + b
  
  if a == 10 or b == 10 or sum == 10:
    ten = True
       
  return ten

In [39]:
makes10(9, 10) # True

True

In [40]:
makes10(9, 9) # False

False

In [41]:
makes10(1, 9) # True

True

In [ ]:
...

...

...

In [ ]:
### 1.5 near_hundred

In [ ]:

Given an int n, return True if it is within 10 of 100 or 200. Note: abs(num) computes the absolute value of a number.


near_hundred(93) → True
near_hundred(90) → True
near_hundred(89) → False

In [42]:
def near_hundred(n):
  
  return abs(n - 100) <= 10 or abs(n - 200) <= 10

In [43]:
near_hundred(93) # True

True

In [44]:
near_hundred(90) # True

True

In [45]:
near_hundred(89) # False

False

In [ ]:
...

...

...

In [ ]:
### 1.6 pos_neg

In [ ]:
Given 2 int values, return True if one is negative and one is positive. Except if the parameter "negative" is True, then return True only if both are negative.


pos_neg(1, -1, False) → True
pos_neg(-1, 1, False) → True
pos_neg(-4, -5, True) → True

In [46]:
def pos_neg(a, b, negative):
    
    # one_negative = False
    # both_negative = False
    
    # if a * b < 0:
    #   one_negative = True
      
    # if a < 0 and b < 0:
    #   both_negative = True

    if negative:
        return a < 0 and b < 0
    else:
        return a * b < 0

In [47]:
pos_neg(1, -1, False) # True

True

In [48]:
pos_neg(-1, 1, False) # True

True

In [49]:
pos_neg(-4, -5, True) # True

True

In [ ]:
...

...

...

In [ ]:
### 1.7 not_string

In [ ]:
Given a string, return a new string where "not " has been added to the front. However, if the string already begins with "not", return the string unchanged.


not_string('candy') → 'not candy'
not_string('x') → 'not x'
not_string('not bad') → 'not bad'

In [50]:
def not_string(str):
    start = str[:3]
  
    if start == "not":
        return str
    else:
        return "not " + str

In [51]:
not_string('candy') # 'not candy'

'not candy'

In [52]:
not_string('x') # 'not x'

'not x'

In [53]:
not_string('not bad') # 'not bad'

'not bad'

In [ ]:
...

...

...

In [ ]:
### 1.8 missing_char

In [ ]:
Given a non-empty string and an int n, return a new string where the char at index n has been removed. The value of n will be a valid index of a char in the original string (i.e. n will be in the range 0..len(str)-1 inclusive).


missing_char('kitten', 1) → 'ktten'
missing_char('kitten', 0) → 'itten'
missing_char('kitten', 4) → 'kittn'

In [54]:
def missing_char(str, n):
    first = str[:n]
    last = str[n+1:]
  
    return first + last

In [55]:
missing_char('kitten', 1) # 'ktten'

'ktten'

In [56]:
missing_char('kitten', 0) # 'itten'

'itten'

In [57]:
missing_char('kitten', 4) # 'kittn'

'kittn'

In [ ]:
...

...

...

In [ ]:
### 1.9 missing_char

In [ ]:
Given a string, return a new string where the first and last chars have been exchanged.


front_back('code') → 'eodc'
front_back('a') → 'a'
front_back('ab') → 'ba'

In [62]:
def front_back(str):
  
    if len(str) <= 1:
        return str
    
    else:
        first = str[0]
        last = str[-1]
        middle = str[1:-1]
        return last + middle + first

In [63]:
front_back('code') # 'eodc'

'eodc'

In [64]:
front_back('a') # 'a'

'a'

In [65]:
front_back('ab') # 'ba'

'ba'

In [ ]:
...

...

...

In [ ]:
### 1.10 front3

In [ ]:
Given a string, we'll say that the front is the first 3 chars of the string. If the string length is less than 3, the front is whatever is there. Return a new string which is 3 copies of the front.


front3('Java') → 'JavJavJav'
front3('Chocolate') → 'ChoChoCho'
front3('abc') → 'abcabcabc'

In [66]:
def front3(str):
  
    if len(str) <= 3:
        front = str
    else:
        front = str[:3]

    return front + front + front

In [70]:
front3('Java') # 'JavJavJav'

'JavJavJav'

In [71]:
front3('Chocolate') # 'ChoChoCho'

'ChoChoCho'

In [72]:
front3('abc') # 'abcabcabc'

'abcabcabc'